---
layout: default
title: bent.bike
---

      {% include navbar.html %}
      <header class="page-header">
        <h1>bent.bike <small>recumbent bicycles, trikes, and contraptions</small></h1>
      </header>
      <div class="row">
        <div class="col-md-7">
          <p>
          A recumbent bicycle places the rider in a laid-back reclining position. Many recumbent riders choose this type of design for ergonomic reasons; the rider's weight is distributed comfortably over a larger area, supported by back and buttocks. On a traditional upright bicycle, the body weight rests entirely on a small portion of the sitting bones, the feet, and the hands.
          </p>
          <p>Most recumbent bikes also have an aerodynamic advantage; the reclined, legs-forward position of the rider’s body presents a smaller frontal profile.</p>
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-exclamation-triangle"></i>  Danger, may make you faster</h3>
            </div>
            <div class="panel-body">
              The UCI baned all recumbent bicycles in 1934 for making riders too fast. It would take 30 more years for the UCI to ban performance-enhancing drugs.
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <img class="img-rounded img-responsive" src="/images/corsa.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>Community</h2>
            <dt><a href="http://bentrider.bike/"><img src="/images/bentrider-fav.png"> BentRider</a></dt>
            <dd>Internet's Number One Source For Recumbent Bicycle News and Information</dd>
            <dt><a href="https://www.facebook.com/groups/2298805310/"><i class="fa fa-facebook-square"></i> Recumbent Cyclists</a></dt>
            <dd>Facebook group advocating the promotion of knowledge about recumbent bicycles -- the advantages, the models, and the stories.</dd>
            <dt><a href="http://www.bentrideronline.com/messageboard/"><img src="/images/bentrider-fav.png"> BentRider Message Boards</a></dt>
            <dd>Wide ranging discussion of all things laid back</dd>
        </div>
        <div class="col-md-4">
          <h2>Buy</h2>
          <h3>Used</h3>
          <dl>
            <dt><a href="http://www.bentrideronline.com/messageboard/forumdisplay.php?f=10"><img src="/images/bentrider-fav.png"> BentRider Classifieds</a></dt>
            <dd>Classified section of BentRider community. The For Sale area is NOT for discussion. Do not post items for sale if you are a commercial entity. Sales from private individuals and BentRider's sponsoring dealers only.</dd>
            <dt><a href="https://www.facebook.com/groups/534973056586751/"><i class="fa fa-facebook-square"></i> Recumbent Classified</a></dt>
            <dd>Facebook group to post your recumbent bikes, trikes, and velomobiles that are for sale on this group. Please keep the posts in this group as For Sale items only, as there are several other Facebook groups available for general discussion.</dd>
          </dl>
          <h3>New</h3>
          <p>Perhaps a dealer finder?</p>
        </div>
        <div class="col-md-4">
          <h2>Manufacturers</h2>
          <dl class="manufacturers">
          {% for manufacture in site.data.manufacturers %}
            <dt>
              {% if manufacture.icon %}
              <img width="16" height="16" src="{{manufacture.icon}}">
              {% else %}
              <img width="16" height="16" src="{{manufacture.url}}favicon.ico">
              {% endif %}
              <a href="{{manufacture.url}}">{{manufacture.name}}</a>
            </dt>
            {% if manufacture.description %}
            <dd>{{manufacture.description}}</dd>
            {% endif %}
          {% endfor %}
          </dl>
        </div>
      </div>
